<!-- Desenvolvido por Mateus Almeida: mateusdarosadealmeida@gmail.com-->
<ion-view view-title="Referências">
  <ion-content class="padding">
    <h2 class="titulo">Lista de Referências:</h2>
    <div class="conteudoReferencias">
      <br>
      
      <p>Estúdio Sonia Robatto. <b>CURSO RÁPIDO DE CONGELAMENTO: Doces, Frutas e Sorvetes. São Paulo. Editora Globo, 1990.</b></p>

      <p>Estúdio Sonia Robatto. <b>CURSO RÁPIDO DE CONGELAMENTO: Pães, bolos e biscoitos. São Paulo. Editora Globo, 1990.</b></p>

      <p>Estúdio Sonia Robatto. <b>CURSO RÁPIDO DE CONGELAMENTO: Cereais, Hortaliças e Temperos. São Paulo. Editora Globo, 1990.</b></p>

      <p>Estúdio Sonia Robatto. <b>CURSO RÁPIDO DE CONGELAMENTO: Massas, tortas e molhos. São Paulo. Editora Globo, 1990.</b></p>

      <p>MINHA VIDA. <b>Aprenda a guardar e conservar os alimentos por mais tempo. </b>Disponível em: http://www.minhavida.com.br/alimentacao/materias/1160-aprenda-a-guardar-e-conserve-os-alimentos-por-mais-tempo. Acesso em: 27 de setembro de 2016.</p>

      <p>GASTRONOMIA BRASIL. <b>Dicas de congelamento. </b>Disponível em: http://www.gastronomiabrasil.com/gastronomia/Dicas_Uteis/Dicas_de_Congelamento.htm#16. Acesso em: 27 de setembro de 2016.</p>

      <p>MINERVA FOODS. <b>Como conservar carne bovina. </b>Disponível em: http://portal.minervafoods.com/minerva/blog/post/como-conservar-carne-bovina. Acesso em: 27 de setembro de 2016.</p>
    </div>
  </ion-content>
</ion-view>