<!-- Desenvolvido por Mateus Almeida: mateusdarosadealmeida@gmail.com-->
<ion-view view-title="Sobre">
  <ion-content class="padding">
    <div class="card">
	    <h2 class="titulo">Sobre o Projeto:</h2>
	    <div class="conteudoReferencias">
	    	<p>
	    		O projeto foi desenvolvido com o intuito de facilitar a vida da dona de casa brasileira, trazendo nele diversas informações sobre as técnicas de armazenamento de alimentos. <br>Dentre essas técnicas, está presente no mesmo o congelamento, armazenamento ao natural e o resfriamento.
	    	</p>
	    </div>
	</div>
	
	<div class="card">
		<h4 class="padding">Acompanhe-nos através de nossas redes sociais:</h4>
		<div class="list">
			<a class="item item-icon-left" href="https://www.instagram.com/admalimentos/">
				<i class="icon ion-social-instagram-outline"></i>
				@admalimentos
				</a>

				<a class="item item-icon-left" href="https://www.snapchat.com/add/admalimentos">
				<i class="icon ion-social-snapchat-outline"></i>
				admalimentos
				</a>

				<a class="item item-icon-left" href="mailto:admalimentosif@gmail.com">
				<i class="icon ion-email"></i>
				admalimentosif@gmail.com
				</a>
		</div>
	</div>
    <div class="card">
    	<p class="titulo">Branding por:</p>
	    <img class="full-image" src="img/posep.png">
	</div>

    <div class="card mateus">
	    <p><b>Desenvolvido por:</b></p>
	    <p>Mateus Almeida: <a href="mailto:mateusdarosadealmeida@gmail.com">mermateus@hotmail.com
	</div>

	<div class="titulo">Versão: 1.1</div>
  </ion-content>
</ion-view>
